/* Hides blockquote styling in embeds via no-2bq alt tag or helper class */

/* Source: https://github.com/churnish/obsidian-css-snippets */

.internal-embed[alt*=no-2bq] .markdown-rendered blockquote {
    border-left: transparent;
    padding-left: 0px;
}

.no-2bq .internal-embed .markdown-rendered blockquote {
    border-left: transparent;
    padding-left: 0px;
}
