/* Baseline: Set font via custom CSS over Style Settings to prevent flash on Obsidian startup */

/* Source: https://github.com/churnish/obsidian-css-snippets */

:body {
  --h1-font: system-ui;
  --h2-font: system-ui;
  --h3-font: system-ui;
  --h4-font: system-ui;
  --h5-font: system-ui;
  --h6-font: system-ui;
}
