:root {
    --color-red: #d04255;
    --color-orange: #d5763f;
    --color-yellow: #e5b567;
    --color-green: #a8c373;
    --color-cyan: #73bbb2;
    --color-blue: #6c99bb;
    --color-purple: #9e86c8;
    --color-pink: #b05279;
    
    --color-yellow-transparent: #e5b56766;
    --color-green-transparent: #a8c37366;
    --color-blue-transparent: #6c99bb66;
    --color-purple-transparent: #9e86c866;
    --color-pink-transparent: #b0527966;
}

.markdown-rendered mark,
.markdown-source-view.mod-cm6 .cm-html-embed .cm-highlight,
.markdown-source-view.mod-cm6 span[class*="cm-html"] mark {
    background-color: var(--color-yellow-transparent);
}

.g {
    background: var(--color-green-transparent);
    color: var(--text-normal);
}

.b {
    background: var(--color-blue-transparent);
    color: var(--text-normal);
}

.p {
    background: var(--color-pink-transparent);
    color: var(--text-normal);
}

.l {
    background: var(--color-purple-transparent);
    color: var(--text-normal);
}
